NODE_ENV =
PORT = 8000
MONGO_URI =mongodb://localhost:27017?ShopApi

JWT_SECRET = asd4848
ACCESS_TOKEN_SECRET =dsfgs32
REFRESH_TOKEN_SECRET =adqw142aaw
ACTIVATION_TOKEN_SECRET =adgqeragz

CLOUD_NAME =dizvl6kwh
CLOUDINARY_API_KEY =592971436947832
CLOUDINARY_API_SECRET =G4nUVq7KN9GNN-xnvV-PqwrI8Mo

MAILING_SERVICE_CLIENT_ID =728880344257-nvv6phm4sv1tvf9gpegupu7k8fcca43r.apps.googleusercontent.com
MAILING_SERVICE_CLIENT_SECRET =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
SENDER_EMAIL_ADDRESS = nmtngoc238@gmail.com
MAILING_SERVICE_REFRESH_TOKEN =1//04bUE6zgdzYroCgYIARAAGAQSNwF-L9Ir32Kb8FfFOmLlSuuDME2DX40mSlVpEyRc1-UgxjCJo7oSwsN2HsO_X9o5Anj2jYPZPdY
REDIRECT_URI =

GOOGLE_LOGIN_SERVICE_CLIENT_ID =728880344257-nvv6phm4sv1tvf9gpegupu7k8fcca43r.apps.googleusercontent.com
GOOGLE_LOGIN_SECRET =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

CLIENT_URL =http://localhost:3000


